* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway";
  color: rgb(166, 184, 184);
}

header {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(90.19deg, #001435 0.15%, #023384 98.45%);
}
