* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/museo_sans_100.woff');
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: Arial, Raleway;
  color: rgb(166, 184, 184);
}
